.jumbotron {
  /* background-color: #90e0ef; */
  padding-top: 8rem;
  background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
}

#prestasi {
  background-color: white;
}

section {
  padding-top: 6rem;
}

.navbar {
  background-color: #56d8e4;
  font-family: viga;
}
